/* 
[class$=explainer] 
*/

.magic-bytes-explainer, .global-maps-explainer {
  border-radius: 12px;
  border: 1px solid white;
  /* play around w/ height animation */
  overflow-y: hidden;
  margin-bottom: 24px;
}

.magic-bytes-explainer h3, .global-maps-explainer h3 {
  margin-left: 16px;
}

.magic-bytes-explainer h4, .global-maps-explainer h4 {
  margin-left: 16px;
}

ul {
  padding-inline-start: 0px;
}

ul li {
  list-style: none;
}

.magic-bytes-description {
  margin-left: 16px;
  margin-bottom: 12px;
}