body {
  margin: 0;
}

* { box-sizing: border-box; }

/* App Stuff */
.App {
  /* text-align: center; */
  background-color: #191920; /* #282c34; */
  font-size: medium; /*calc(10px + 2vmin); */
  color: white;
  padding: 24px 24px 24px 12px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #191920; /* 282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header stuff */

.menubutton>input {
  display: none;
}

.menubutton span {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  
  background: #dddddd;
  border-radius: 3px;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 16px;
  justify-content: space-between;
}

.node-env {
  color: gray;
  margin: auto 4px;
  font-weight: bold;
}

/* Sidebar */
body:has(.menubutton > input:checked) .sidebar-column {
  width: 10rem;
}

.sidebar-nav {
  /* width: 20%; */
  width: 4rem;
  transition: width 300ms;
  /* border: 1px solid red; */
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item-name {
  font-size: 10px;
}

.txnIcon {
  fill: #dddddd;
  height: 24px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.details-column {
  width: 20%
}
