body {
  margin: 0;
}

* { box-sizing: border-box; }

/* App Stuff */
.App {
  /* text-align: center; */
  background-color: #191920; /* #282c34; */
  font-size: medium; /*calc(10px + 2vmin); */
  color: white;
  padding: 24px 24px 24px 18px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #191920; /* 282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menubutton span {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  
  background: #dddddd;
  border-radius: 3px;
  z-index: 1;
}

/* Header stuff */
nav {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 16px;
  justify-content: flex-end;
}

.node-env {
  color: gray;
  margin: auto 4px;
  font-weight: bold;
}

/* Sliding Sidebar */
.sidebar-item>input {
  display: none;
}

body:has(.sidebar-item > input:checked) .nav-right {
  width: 12rem;
}

.nav-right {
  width: 1px;
  transition: width 300ms;
  overflow-x: hidden;
}

.nav-right h4 {
  margin: 4px 8px;
}

.nav-right > div {
  /* border: 1px solid red; */
  margin-left: 12px;
}

.sidebar-nav {
  transition: width 300ms;
  display: flex;
  flex-direction: row;
}

.sidebar-item {
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
}

.sidebar-item:first-child {
  margin-top: 0px;
  margin-bottom: 12px;
}

.sidebar-item-name {
  font-size: 10px;
}

.txnIcon {
  fill: #dddddd;
  height: 24px;
  width: 24px;
}

/* Overall container has sidebar-nav and <Txn />*/
.container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.details-column {
  width: 20%
}
