.txn-column {
  margin: 0px 24px 12px;
  flex-grow: 1;
}

label[for=txn] {
  font-weight:bold;
  text-transform: uppercase;
}

.txn-input {
  display: flex;
  flex-direction: column;
  font-size: medium;
  position: relative;
}

#editor, #highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  margin: 12px 5px;
  padding: 2px;
  border: 0;
  width: calc(100% - 12px);
  height: 220px;
}

#editor, #highlighting, #highlighting * {
  /* Also add text styles to highlighting tokens */
  font-size: 15pt;
  font-family: monospace;
  line-height: 20pt;
}

#editor, #highlighting {
  position: absolute;
  top: 20px;
  left: 0;
  transition: left 300ms;
  overflow-y: scroll;
  /* white-space: nowrap; */
}

#editor {
  z-index: 1;
  color: transparent;
  background: transparent;
  caret-color: white;
  resize: none;
  scrollbar-color: red;
  scrollbar-width: thin;
}

#highlighting {
  /* overflow-x: clip; */
  border: 1px solid rgb(117, 117, 117);
}

/* style when cursor */
#editor:focus {

}

.match-version {
  background: #a47d55;
}

.match-segwit {
  background: #a49455;
}

.match-num_inputs {
  background: #4c9fdb;
}

.match-inputs-txid {
  background: #217cbc;
}

.match-inputs-vout {
  background: #6461c0;
}

.match-inputs-script_sig {
  background: #d474d4;
  /* */
}

.match-inputs-sequence {
  background: #d58787;
}

[class^="match-witness-"] {
  background: red;
}

.match-num_outputs {
  background: #d16868;
  /*darkgoldenrod; */
}

.match-outputs-amount {
  background: #d1b068;
}

.match-outputs-scriptPubKey {
  background: #8b8b26;
}

.match-locktime {
  background: #6da040;
}

#highlighting {
  z-index: 0;
}